{% extends 'unix_shells_quiz/base.html' %}

{% block title %}UNIX Shells{% endblock %}



{% block body %}
<div class="w3-container w3-blue">
    <br>
    <br>
    <br>
    <p><center><h3>UNIX Shells is an educational Django web application that includes various quizzes to test your
    knowledge on UNIX Shell scripting.
    <br>
    <br>
    <br>
    <img src="/static/images/types_of_unix_shells.png" style="width:600px;height:500px;" align="middle">
    </p></center></h3>


<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}
