<!--{% extends 'unix_shells_quiz/base.html' %}-->

{% block title %}UNIX Shells Login{% endblock %}



{% block body %}
<div class="w3-container w3-yellow">

    <form method="post" action=".">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Log In"/>
        <input type="hidden" name="next" value="{{next}}"/>
    </form>
<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}