{% extends 'unix_shells_quiz/base.html' %}

{% block title %}UNIX Shells Logout{% endblock %}



{% block body %}
<div class="w3-container w3-yellow">
<p>
<br>
<br>
    <h3 style="color:blue"><center>Thank You For Using UNIX Shells You Have Successfully Logged Out.</center></h3><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}