{% extends 'cdh_ecosystem_quiz/base.html' %}

{% block title %}FTQ Reset Scores{% endblock %}



{% block body %}

<div class="w3-container w3-yellow">
<p>
<br>
<br>
    <center>
    <h2 style="color:blue">Your Scores Have Been Zeroed!</h2>
    </center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}