{% extends 'cdh_ecosystem_quiz/base.html' %}

{% block title %}CDH Ecosystem Study Guide Detail{% endblock %}



{% block body %}
<div class="w3-container w3-yellow">
    <p>
    <br>
    <br>
    <h1 style="text-align:center; color:blue;">Short Answer Quiz</h1>
    <br>
    <h3 style="color:blue;">Click On A Question Below
    <br>
    <br>
    </p>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'cdh_ecosystem_quiz:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No questions are available.</p>
    {% endif %}
    </h3>

<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}