{% extends 'cdh_ecosystem_quiz/base.html' %}

{% block title %}Multiple Choice Quiz{% endblock %}



{% block body %}
<div class="w3-container w3-yellow">
    <p>
    <br>
    <h1 style="text-align:center; color:blue;">Multiple Choice Quiz</h1>
        <br>
        <br>
        <h3 style="color:blue;">Click on a question below</h3>
        <br>
    </p>
        {% if latest_question_list %}
            <h3 style="color:blue;">
            <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'cdh_ecosystem_quiz:multiple_choice_quiz_detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No multiple choice questions are available.</p>
            </h3>
        {% endif %}


<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}