{% extends 'cdh_ecosystem_quiz/base.html' %}

{% block title %}Quiz Selection{% endblock %}



{% block body %}
<div class="w3-container w3-yellow">


    <br>
    <div class="jumbotron">
      <center><h3 class="display-3">Quizzes</h3></center>
    </div>

    <br>
        <br><ul><li><h3>Short Answer Quiz</h3></li>
        <a href="http://localhost:8000/short_answer_quiz_categories/" target=" button type="button"  class="btn btn-lg btn-primary" disabled>Short Answer Quiz</button></a>

    <br>
    <br>
    <br><li><h3>Feynman Technique Quiz</h3></li>
        <a href="http://localhost:8000/feynman_technique_quiz/" target=" button type="button" class="btn btn-lg btn-primary" disabled>Feynman Technique Quiz</button></a>
    <br>
    <br>
      <br><li><h3>Multiple Choice Quiz</h3></li>
        <a href="http://localhost:8000/multiple_choice_quiz/" target=" button type="button" class="btn btn-lg btn-primary" disabled>Multiple Choice Quiz</button></a>
    <br>
    <br>
    <br></ul>
<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}