{% extends 'cdh_ecosystem_quiz/base.html' %}

{% block title %}CDH Ecosystem Study Guide Resources{% endblock %}



{% block body %}
<div class="w3-container w3-yellow">

    <div class="jumbotron">
    <center><h3 class="display-3">CDH Ecosystem Study Guide - Presentations & Websites</h3></center>
    </div>

    <br>
    <br><ul><li><h3>Early Days Of UNIX & Design Of sh - By Steven Bourne</h3></li>
        <a href="https://www.youtube.com/watch?v=FI_bZhV7wpI target=" button type="button" background-color="red" class="btn btn-lg btn-danger" disabled>YouTube</button></a>
    <br>
    <br><li><h3>Shell Scripting Tutorial - By Derek Banas</h3></li>
        <a href="https://www.youtube.com/watch?v=hwrnmQumtPw target=" button type="button" class="btn btn-lg btn-danger" disabled>YouTube</button></a>
    <br>
    <br><li><h3>Next Video</h3></li>
        <a href="https://www.youtube.com/watch?v=OFkgSjRnay4 target=" button type="button" class="btn btn-lg btn-danger" disabled>YouTube</button></a>
    <br>
    <br><li><h3>Next Video</h3></li>
        <a href="https://youtube.com/" button type="button" class="btn btn-lg btn-primary" disabled>YouTube</button></a>
    <br>
    <br><li><h3>Next Video</h3></li>
    <a href="https://youtube.com/" button type="button" class="btn btn-lg btn-primary" disabled>YouTube</button></a>
    <br></ul>
<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}
