{% extends 'unix_shells_quiz/base.html' %}

{% block title %}FTQ Quiz{% endblock %}



{% block body %}

<div class="w3-container w3-yellow">

    <p font-size="20px" style="text-align:justify;">

    <center><img src="/static/images/richard_feynman.png" style="width250px:height250px" align="center"></center>


    <br>
    Richard Feynman was born on May 11, 1918 and lived until February 15, 1988.  He was a
    brilliant American theoretical physicist.  He was also an excellent teacher and had the
    ability to explain even the most complex ideas and concepts in simple easy to understand
    language.  The Feynman technique which is explained below is named after
    <a href="https://en.wikipedia.org/wiki/Richard_Feynman" target="_blank button type="button"  class="btn btn-lg btn-primary" disabled>Richard Feynman</button></a>
    The Feynman Technique is one of the best ways to quickly learn new information.
    <br>
    <br>
    Step 1
    <br>
    Write the name of the concept at the top of a blank piece of paper.<br>
    <br>
    Step 2<br>

    Write down an explanation of the concept on the page. Use plain English. Pretend you are teaching it to someone else (e.g a new student). This should highlight what you understand, but more importantly pinpoint what you don't quite know.<br>
    <br>
    Step 3<br>

    Review what you have pinpointed you don't know. Go back to the source material, re-read, and re-learn it.<br>Repeat Step 2.<br>
    <br>
    Step 4
    <br>
    If you are using overly wordy or confusing language (or simply paraphrasing the source material) try again so you filter the content. Simplify your language, and where possible use simple analogy.
    Conclusion

    That's it. A simple and powerful technique to ensure you can rapidly learn and retain new concepts and information.
    <br>
    <br>

    <h3 style="color:blue">Click on a question below</h3>
    <br>


    <h3 style="color:blue">
    {% if ftq_questions %}
        <ul>
        {% for question in ftq_questions %}
            <li><a href="{% url 'unix_shells_quiz:ftq_detail' question.id %}">{{ question }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No questions are available.</p>
    {% endif %}
    </h3>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}