{% extends 'unix_shells_quiz/base.html' %}

{% block title %}UNIX Shells Quiz Reset Scores{% endblock %}



{% block body %}

<div class="w3-container w3-yellow">

    <center>
    <h2 style="color:blue">Your Scores Have Been Zeroed!</h2>
    </center>

<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}