{% extends 'unix_shells_quiz/base.html' %}

{% block title %}UNIX Shells Tools{% endblock %}



{% block body %}
<div class="w3-container w3-yellow">


    <div class="jumbotron">
      <center><h3 class="display-3">Tools</h3></center>
     </div>

    <br>
        <br><ul><li><h3>Graph Short Answer Quiz Data</h3></li>
        <a href="https://www.youtube.com/watch?v=idLyobOhtO4 target=" button type="button" class="btn btn-lg btn-primary" disabled>Graph Short Answer Quiz Data</button></a>


    <br>
    <br><li><h3>Graph Feynman Technique Data</h3></li>
        <a href="https://www.youtube.com/watch?v=U8GBXvdmHT4 target=" button type="button" class="btn btn-lg btn-primary" disabled>Graph Feynman Technique Data</button></a>
    <br>
    <br><li><h3>Graph Multiple Choice Data</h3></li>
        <a href="https://www.youtube.com/watch?v=OFkgSjRnay4 target=" button type="button" class="btn btn-lg btn-primary" disabled>Graph Multiple Choice Data</button></a>
    <br></ul>
<br>
<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}