{% extends 'cdh_ecosystem_quiz/base.html' %}

{% block title %}CDH Ecosystem Study Guide{% endblock %}



{% block body %}
<div class="w3-container w3-blue">
    <br>
    <br>
    <br>
    <p><center><h3>CDH Ecosystem Study Guide is an educational Django web application that includes various quizzes to test your
    knowledge on the CDH Ecosystem.
    <br>
    <br>
    <br>
    <img src="/static/images/hadoop.png" style="width:800px;height:400px;" align="middle">
    </p></center></h3>


<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}
